.grid-container {
    display: grid;
    grid-gap: 3vw;
    grid-template-columns: 1fr;

    grid-template-areas: 
    "logo"
    "titel"
    "kloktijd"
    "datum"
    ;
}

.logo {
    grid-area: logo;
}

.titel {
    grid-area: titel;
}

.tijd {
    grid-area: kloktijd;
}

.dagen {
    grid-area: datum;
}

@media screen  and (min-width: 660px) /*Tablet*/ {
    .grid-container {
        display: grid;
        grid-gap: 3vw;
        grid-template-columns: 1fr;
    
        grid-template-areas: 
        "logo"
        "titel"
        "kloktijd"
        "datum"
        ;
    }    
}

@media screen and (min-width: 1170px) {
    .grid-container {
        display: grid;
        grid-gap: 3vw;
        grid-template-columns: 1fr;
    
        grid-template-areas: 
        "logo titel"
        "kloktijd datum"
        ;
    }
}