body {
    background-image: url("image/mars.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: 100%; */
    margin: 0 auto;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 0;
    font-size: 6vw;
}

.logo {
    text-align: center;
}

.spacexlogo {
    width: 50%;
}

#dagdeelimg {
    width: 90%;
    z-index:0;
    /* margin-bottom: 18vw; */
}

#seizoenimg {
    width: 90%;
    z-index:0;
    /* margin-top: 13vw; */
    height:auto;
}

.tijd, .dagen {
    text-align: center;
}

h2#kloktijd{
    z-index: 1;
    color:black;
    margin-top: -23vw;
    margin-bottom: 20vw;
    font-size: 5vw;
    text-shadow: 1px 1px 5px gray;
}

h2#klokdag{
    z-index:1;
    color:black;
    margin-top: -32vw;
    margin-bottom: -2vw;
    font-size: 5vw;
    text-shadow: 1px 1px 5px gray;
}

h2#klokdatum{
    z-index:1;
    color:black;
    font-size: 4vw;
    text-shadow: 1px 1px 5px gray;
}

/* .tijd {
    background-image: url("image/middag.jpg");
} */

/* h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* h2 {
    position: absolute;
    margin-left: 41.5vw;
    font-size: 4vh;
} */

@media screen  and (min-width: 660px) and (max-width: 1170px) /*Tablet*/ {
    h2#klokdag {
        margin-right: 26vw;
        margin-top: -30vw;
        font-size: 5vw;
    }

    h2#klokdatum {
        margin-left: 26vw;
        margin-top: -5vw;
        font-size: 4.5vw;
    }
}

@media screen and (min-width: 1170px) {
    h1 {
        font-size: 4vw;
        text-align: left;
    }
    
    .logo {
        text-align: right;
    }


    #dagdeelimg {
        width: 45vw;
        height: 30vw;
    }

    #seizoenimg {
        width: 45vw;
        height: 30vw;
        margin-right: 2vw;
    }

    h2#kloktijd {
        margin-top: -18vw;
    }

    h2#klokdag {
        font-size: 3.5vw;
        margin-right: 24vw;
        margin-top: -17vw;
    }

    h2#klokdatum {
        font-size: 3.5vw;
        margin-left: 16vw;
        margin-top: -4vw;
    }
}

@media screen and (min-width: 1800px) {
    
}